.journey {
  display: flex;
  justify-content: space-between;
  font-size: 24px; 
}
.journey-input {
  line-height: 48px;
}
.journey-to {
    text-align: right;
}
.journey-switch i {
  font-size: 30px;
}